.about-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px auto;
}

.about-carousel-frame {
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 4 / 3;      /* o 16/9 */
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
}

.about-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Mobile */
@media (max-width: 768px) {
  .about-carousel {
    margin: 20px auto;
  }

  .about-carousel-frame {
    max-width: 100%;
    aspect-ratio: 4 / 3;
  }
}
