.about {
  min-height: calc(100vh - 150px);
  max-width: 100%;
  padding-top: 100px;
  /* per evitare margine collassato */
  padding-bottom: 50px;
  background: linear-gradient(120deg, #297088, #cbb0ff, #f0dfff);
  background-size: fill;
  text-align: center;
  font-family: 'Spectral', serif;
}

.about .content {
  max-width: 900px;
}



.about .image {
  width: 60%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
  .about h2 {
    font-size: 1.5rem;
  }

  .about .image {
    width: 90%;
    margin-top: 15px;
  }
}

.about h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.about h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
}



/* Responsive */
@media (max-width: 768px) {
  .about h2 {
    font-size: 2rem;
  }

  .about h3 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 1rem;
  }

}