.contact {
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(120deg, #297088, #cbb0ff, #f0dfff);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Spectral', serif;
    overflow: hidden;
}

.contact h2 {
    font-weight: 400;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.contact-block {
    margin-bottom: 40px;
}

.contact-block h3 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-block p {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
}

.contact-block a {
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.contact-block a:hover {
    color: #ffdd57;
}

/* MOBILE */
@media (max-width: 768px) {
    .contact {
        padding-top: 100px;
        /* meno spazio per navbar */
    }

    .contact h2 {
        font-size: 1.8rem;
    }

    .contact-block h3 {
        font-size: 1.2rem;
    }

    .contact-block p {
        font-size: 1rem;
    }
}