.footer {
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(120deg, #297088, #cbb0ff, #f0dfff);
    color: #000000;
    text-align: center;
    font-family: 'Spectral', serif;
    font-weight: 400;
    box-sizing: border-box;
    opacity: 0.85;
}

.footer p {
    margin: 0 0 10px 0;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
    .footer {
        padding: 15px 5%;
    }


}