@font-face {
  font-family: 'Spectral';
  src: url('/public/fonts/Spectral-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Header fullscreen */
.header-fullscreen {
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/progetto1.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* per mettere sottotitolo sotto H1 */
  justify-content: flex-start;
  text-align: left;
  /* sottotitolo a sinistra */
  color: #e0c3fc;
  padding: 15vh 10%;
  /* margine alto e lato sinistro/destro */
  box-sizing: border-box;
}

.header-fullscreen h1 {
  font-family: 'Spectral', serif;
  font-weight: 700;
  font-size: 5vw;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.subtitle {
  font-family: 'Spectral', serif;
  font-weight: 200;
  font-size: 2vw;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  margin: 0;
}


/* Media queries responsive */

/* Tablet large */
@media (max-width: 1024px) {
  .header-fullscreen h1 {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 2.5vw;
  }
}

/* Tablet small / smartphone landscape */
@media (max-width: 768px) {
  .header-fullscreen h1 {
    font-size: 8vw;
  }

  .subtitle {
    font-size: 3.5vw;
  }
}

/* Smartphone portrait */
@media (max-width: 480px) {
  .header-fullscreen h1 {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 5vw;
  }
}