.projects {
    min-height: calc(100vh - 150px);
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(120deg, #297088, #cbb0ff, #f0dfff);
    background-size: fill;
    text-align: center;
    font-family: 'Spectral', serif;
}

.projects h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.projects h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.projects-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 900px;
    padding-left: 10px;
    padding-right: 10px
}

/* Responsive */
@media (max-width: 768px) {
    .projects h2 {
        font-size: 2rem;
    }

    .projects h3 {
        font-size: 1.5rem;
    }

    .projects p {
        font-size: 1rem;
    }
}