.projects {
    min-height: calc(100vh - 150px);
    max-width: 100%;
    padding: 100px 20px 50px 20px;
    background: linear-gradient(120deg, #297088, #cbb0ff, #f0dfff);
    font-family: 'Spectral', serif;
}

/* Titolo centrato */
.projects-title {
    text-align: center;
    margin-bottom: 40px;
}

.projects-title .pre {
    display: block;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
    opacity: 0.85;
}

.projects-title .main {
    display: block;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 6px;
}

.projects-title .sub {
    display: block;
    font-size: 24px;
    font-style: italic;
    opacity: 0.9;
}


/* Contenitore full-width */
.projects-fullwidth {
    width: 100%;
    padding: 0 20px;
    /* spazio dai bordi */
    box-sizing: border-box;
    margin-bottom: 30px;
}

.projects-fullwidth p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: left;
    color: #333;
}

/* Responsive */
@media (max-width: 768px) {
    .projects-title .main {
        font-size: 32px;
    }

    .projects-title .sub {
        font-size: 18px;
    }

    .projects-content h3 {
        font-size: 1.5rem;
    }

    .projects-content p,
    .projects-fullwidth p {
        font-size: 1rem;
    }
}