.research {
    width: 100%;
    background: linear-gradient(120deg, #297088, #cbb0ff, #f0dfff);
    padding: 100px 20px 50px 20px;
    /* 20px di spazio ai lati */
    font-family: 'Spectral', serif;
    box-sizing: border-box;
    /* assicura che padding non aumenti la larghezza */
}

.research .content {
    width: 100%;
    text-align: center;
    max-width: none;
    /* niente limite di larghezza */
}

/* Titolo */
.research h2 {
    font-weight: 500;
    font-size: clamp(1.6rem, 4vw, 2.8rem);
    line-height: 1.5;
    color: #222;
    margin-bottom: 25px;
}

/* Paragrafo */
.research p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}

/* Immagine */
.research .image {
    width: 100%;
    max-width: 650px;
    margin: 30px auto 10px auto;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    display: block;
}

/* Link */
.research a {
    color: #1a4c73;
    font-weight: 600;
    text-decoration: underline;
}

.research a:hover {
    opacity: .7;
}

.research-content p.full-width {
    max-width: 100%;
    /* nessun limite di larghezza */
    text-align: left;
    /* allinea il testo a sinistra */
    padding: 0 20px;
    /* spazio ai bordi */
    margin: 0 auto 20px auto;
}


.research-content p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}